.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: teal;
}

.nav-menu {
    display: flex;
    gap: 2vw;
}

.nav-toggle {
    display: none;
    padding: 0.5em;
}

.nav-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    border: 1px white solid;
    padding: 0.8em;
    border-radius: 1em;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu li:hover {
    background-color: rgb(2, 168, 168);
}

.nav-burger-menu {
    display: none;
}


@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        flex-direction: column;
        background: none;
        border: none;

    }
    
    .nav-toggle span {
        background-color: rgba(255, 255, 255, 0.869);
        height: 0.2em;
        width: 2em;
        display: flex;
        
    }

    .nav-toggle:hover {
        background-color: rgb(2, 172, 172);
    }

    .main-nav button {
        gap: 0.5em;
    }

    .nav-menu {
        display: none;
    }

    .nav-burger-menu {
        margin: 0;
        padding: 0;
    }
    
    .nav-burger-menu li {
        list-style: none;
        background-color: rgb(2, 96, 96);
        text-align: center;
        border: 0.5px white solid;
        padding: 1em;
    }
    
    .nav-burger-menu a {
        text-decoration: none;
        color: white;
    
    }
}
